{% extends "base.html" %}
{% block content %}
<h2>Register as Advisor</h2>

<form method="POST" class="mt-3">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input name="name" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input name="email" type="email" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Role / Position</label>
    <input name="role" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control" required>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}
